.blog {
    display: flex;
    flex-direction: column;
}

.blog_content {
    text-align: center;
    /* background-color: #ddd; */
}

.blog_content  h1{
    margin-bottom: 2rem; 
    margin-top: 10rem;
}

.blog_content  p{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-family: "Mulish", serif;
    font-weight: 300;
    color:#7D7987;
;
}

.blog_content hr{  
    margin: 2rem auto;
} 

.blog_card {
    /* background-color: #ddd; */
    position: relative;
    /* top: -5; */
    /* margin-top: 2rem; */
    display: flex;
    /* flex-direction: row; */
}

/* .blog_card img {
    position: absolute;
    left: 0;
} */

.blog_grid {
    /* background-color: #000; */
    position: relative;
    top: 100px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap:1.8rem;
   
}


.blog_element {
    /* background-color: #ccc; */
    position: absolute;
    bottom: -500px;
    right: 30px;
}


.blog_background {
    /* background-color: #ccc; */
    position: absolute;
    top: -10px;
    right: -30px;
    height:500px;
    width: 400px;
}


.blog_background {
    display: flex;
    flex-direction: column;
}

.center_button{
    text-align: center;
    margin-top: 72px;
}

.card_2 {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px; 
    margin: 0px; 
    font-size: 30px;
    /* padding: 20px; */
    text-align: left;
}

.card_2 img {
    width: 100%;
    height: 220px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    object-fit: cover;
    /* width: 100%; */
}

.card_2 h3 {
    font-family: "Mulish", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color:#000000;
    padding: 10px 20px 0px 20px;
}

.card_2 p {
    font-family: "Mulish", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    padding: 10px 20px 20px 20px;
}


.blog_element img{
    width: 131px;
    height: 115px;
}

.arrow img{
    width: 14.14px;
    height: 9px;
}


@media screen and (max-width: 1024px){
    .blog_card {
        /* background-color: #ddd; */
        position: relative;
        /* top: -5; */
        /* margin-top: 2rem; */
        display: flex;
        flex-direction: column;
    }

    .blog_background {
        width:100%;
        display: flex;
        flex-direction: column;
    }
    

    .blog_grid {
        /* background-color: #000; */
        grid-template-columns: auto auto;
        position: relative;
        top: 100px;
        display: grid;
        flex-direction: row;
        /* padding: 5px; */
       
    }

    .blog_element img{
        display: none;
    }
    


}




@media screen and (max-width: 768px){


    .blog_card {
        /* background-color: #ddd; */
        position: relative;
        /* top: -5; */
        /* margin-top: 2rem; */
        display: flex;
        flex-direction: column;
    }

    .blog_background {
        width:100%;
        display: flex;
        flex-direction: column;
    }
    

    .blog_grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        /* background-color: #000; */
        position: relative;
        top: 100px;
        display: grid;
        flex-direction: row;
        padding: 5px;
       
    }

    .blog_element img{
        display: none;
    }


}


@media screen and (max-width: 480px){
    .blog_card {
        /* background-color: #ddd; */
        position: relative;
        /* top: -5; */
        /* margin-top: 2rem; */
        display: flex;
        flex-direction: column;
    }

    .blog_background {
        width:100%;
        display: flex;
        flex-direction: column;
    }
    

    .blog_grid {
        grid-template-columns: auto;
        /* background-color: #000; */
        position: relative;
        top: 100px;
        display: grid;
        flex-direction: row;
        padding: 5px;
       
    }

    .blog_element img{
        display: none;
    }


}



