*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    font-family: "Mulish", serif;
    

}

.container {
    margin: 0 auto;
    padding: 2rem 2rem;

    max-width: 1200px;   
}


/* .section {
  margin: 1 4rem;
  padding: 2 2rem;

  max-width: 1100px;   
} */




.button {
    width: 170px;
    height: 46px;
    margin-top: 72px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background-color: #ffffff;
    color: #458FF6;
    cursor: pointer;
    font-size: 1rem;
}

.button_one {
  width: 170px;
  height: 46px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  background-color: #458FF6;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
    color: #ffffff;
    background-color:#458FF6;
}

.title {
    font-family: "Mulish", serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.title_two{
    font-family: "Mulish", serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    margin-top: 50px;
}

.title_three{
  font-family: "Mulish", serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 56px;
  color: #ffffff;
  margin-top: 50px;
  text-align: center;
}

.text {
  color: #7D7987;
}



.horizontal-rule {
    width: 50px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 50px;
}

.horizontal-rule-2 {
  width: 50px;
  border: 1px solid white;
  margin-top: 5px;
  border-radius: 50px;
}


/* Animation Scaling */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



@media screen and (max-width: 800px){
	.container {
        margin: 0 auto;
        padding: 2rem 1rem;
        /* max-width: 1200px; */
	}
}
