.footer {
    background:#5B9BF3;
    margin-top: 5rem;
    padding: 8rem 7rem 8rem!important;
    /* background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74); */
  }
  
  .footer hr{  
      margin: 2rem auto;
  } 
  
  .footer_content {
    border-radius: 24px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* padding-top: 5rem; */
  }

  .list>ul{
    list-style-type: none;
  }

  .list>ul>li{
      padding-bottom: 8px;
  }

  .footer_name {
    width: 40%;
  }
  
  .footer-p{
      margin: 3rem;
      color: #fff;
  }
  
  .footer_text {
    /* margin-right: 9rem;
    margin-left: 9rem; */
    display: flex;
      width: 50%;
    /* flex-direction: column;
    justify-content: center; */
  }
  
  .footer_text p {
    margin-top: 1rem;
    line-height: 25px;
  }
  
  .footer_text button {
    margin-top: 3rem;
  }
  
  
  
  /* .footer_image {
      width: 693px;
      height: 598px;
    } */
    
    .footer_image img{
      /* background-color: #ddd; */
      width: 100%;
    
    }
  
  
  
  @media screen and (max-width: 1024px) {
    .footer {
      flex-direction: column;
      /* background-color: #ddd; */
  
      padding-left: 2rem;
      padding-right: 2rem;
    }
  
    .footer_content {
      /* background: #ddd; */
    }
  
    .footer_image {
      width: 100%;
    }
  
    .footer_image img {
      /* background-color: #ddd; */
      width: 100%;
    }
  
    .contaner {
      margin-top: -2rem auto;
    }
  }
  
  @media screen and (max-width: 900px) {
    .footer_content {
      /* background: #ddd; */
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 2rem 1rem;
      text-align: center;
    }
  
    .footer_background {
      /* background-color: #ccc; */
      height: 400px;
      width: 500px;
      left: 135px;
      top: 2318px;
      border-radius: 0px;
      margin-left: 3.5rem;
    }
  
    .title_two {
      font-family: "Mulish", serif;
      font-weight: 800;
      font-size: 36px;
      line-height: 56px;
      color: #000000;
      margin-top: 50px;
    }
  
    .footer_image {
      text-align: center;
    }
  
    .footer_image img {
      /* background-color: #ddd; */
      width: 100%;
      text-align: center;
    }
  
    /* .contaner {
        margin-top: -2rem auto;
    } */
  }
  
  @media screen and (max-width: 768px) {
    /* .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    } */
  
    .footer_content {
      /* background: #ddd; */
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 2rem 1rem;
      text-align: center;
    }
  
    .footer_background {
      /* background-color: #ccc; */
      height: 400px;
      width: 500px;
      left: 135px;
      top: 2318px;
      border-radius: 0px;
    }
  
    .footer_text {
      margin-left: 0rem;
    }
  
    .title_two {
      font-family: "Mulish", serif;
      font-weight: 800;
      font-size: 36px;
      line-height: 56px;
      color: #000000;
      margin-top: 50px;
    }
  
    .footer_image {
      width: 100%;
      text-align: center;
    }
  
    .footer_image img {
      /* background-color: #ddd; */
      width: 100%;
      text-align: center;
    }
  
    /* .contaner {
        margin-top: -2rem auto;
    } */
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      flex-direction: column;
    }
  
    .footer_content {
      /* background: #ddd; */
    }
  
    .footer_image {
      width: 100%;
    }
  
    .footer_image img {
      /* background-color: #ddd; */
      width: 100%;
    }
  
    /* .contaner {
        margin-top: -2rem auto;
    } */
  }
  